 
@{
    ViewData["Title"] = "News";
    
}

<div>
    <h1 class="display-4">Список новостей</h1>
    @* action="~/Home/Create" *@
    <a href="/admin/news/createNews" role="button" class="btn btn-primary">Добавить новость</a> 
    @* <ahref='@Url.Action("createNews",  role="button" class="btn btn-primary">Добавить новость</ahref>
    <a href='@Url.Action("createNews", "Home", new { name = "Тоm", id = 10 }, null)'>Ссылка</a>
    @Url.Action("Index", "Home") *@
    <br />
    <hr />
    <br />

    <table cellpadding="12">
        <tr>
            <th>Заголовок Post</th>
            <th>Содержимое</th>
            <th>Дата публикации</th>
            <th>ID Автора</th>
            <th>Коментарии к новости</th>
            <th>Ссылки новсти</th>
            <th>Дата создани</th>
            <th>Дата обновления</th>
            <th>Активная(включенная)</th>
            <th>Удаленная(не видна ни кому)</th>
            <th></th>
            <th></th>
        </tr>
        @if(Model!=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    @if (@item.Text.Length >=30)
                    {
                        <td>
                            <details>
                                <summary><b> @item.Text.Substring(0, 20) </b></summary>
                                 @item.Text
                          </details>
                        </td>
                    }
                   @if(item.Text.Length <= 20){
                        <td>@item.Text</td>
                    }
                    @if (string.IsNullOrWhiteSpace(@item.Text))
                    {
                        <td>""</td>
                    }
                    @if (item.Text ==  null)
                    {
                        <td>""</td>
                    }
                    <td>@item.DatePublication.ToString("yyyy.MM.dd HH:mm")</td>

                    @if (item.AuthorId != null)
                    {
                        <td>@item.AuthorId</td>
                    }
                    @if (item.AuthorId == null)
                    {
                        <td>""</td>
                    }

                    @if (string.IsNullOrWhiteSpace(@item.Сomments))
                    {
                        <td>""</td>
                    }
                    @if (@item.Сomments != null)
                    {
                        <td>@item.Сomments</td>
                    }
                     

                    @if (@item.Urls!=null)
                    {
                       @foreach (var itemurl in @item.Urls)
                        {
                            <td>@itemurl</td>
                        }
                    }
                    @if (@item.Urls == null)
                    {
                        <td>@item.Urls</td>
                    }
                    @if (@item.Urls.Count == 0)
                        {
                            <td>"Отсутвуют"</td>
                        }
                    @* int z = x < y ? (x+y) : (x-y); *@
                    <td>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</td>
                    <td>@item.DateUpdate.ToString("yyyy.MM.dd HH:mm"))</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDelite</td>
                    <td><a href="/admin/news/edit/@item.Id">edit</a></td>
                    <td><a href="/admin/news/delete/@item.Id">delete</a></td>
                </tr>
            }
        }
    </table>
</div>