@{
    ViewData["Title"] = "Пользователи";
}

<div class="text-center">
    <h1 class="display-4">Админка пользователей. Спсисок, обзор настройка.</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Пользователи в системе</h1>
</div>

<br />
<hr />
<br />

<table cellpadding="10">
    <tr>
        <th>Id</th>
        <th>UserName(Логин)</th>
        <th>Created(Дата регистрация)</th>
        <th>Email(Почта)</th>
        <th>PhoneNumber(Номер телефона)</th>
        <th>LockoutEnd</th>
        <th></th>
        <th></th>
    </tr>
    @if (Model!=null)
    { 
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Created.ToString("yyyy.MM.dd HH:mm")</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.LockoutEnd?.ToString("yyyy.MM.dd HH:mm")</td>
                <td><a href="/admin/users/block/@item.Id">Block</a></td>
                <td><a href="/admin/users/unblock/@item.Id">Unblock</a></td>
            </tr>
        }
    }
   
</table>